@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --primary-bg-color: #000d1e;
  --primary-text-color: #ffffff;

  /* Secondary Colors */
  --secondary-bg-color: #5d0e41;
  --secondary-text-color: #ffffff;

  /* Neutral Colors */
  --neutral-bg-color: #f2f2f2;
  --neutral-text-color: #333333;

  /* Additional Colors */
  --accent-color: #ff204e;
  --highlight-color: #a0153e;
  font-size: 10px;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("./../fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.9rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

small {
  font-size: 1rem;
}

.card {
  width: 300px;
  height: 200px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
}
